@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@model SymphonyInstitute.Ltd.Models.Courses
@{
    ViewData["Title"] = "CoursesCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-md">
            <form asp-action="CoursesCart" method="post">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap" style="height:7em" ;>
                    <div class="card-body">
                        <h5 class="card-title text-success">Javascript</h5>
                        <input type="hidden" asp-for="Id" value=1102 />
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <input type="submit" class="btn btn-primary" value="Get Enroll">
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md">
            <form asp-action="CoursesCart" method="post">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap" style=" height :7em" ;>
                    <div class="card-body">
                        <h5 class="card-title text-success">AspNetCore</h5>
                        <input type="hidden" asp-for="Id" value=1001 />
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <input type="submit" class="btn btn-primary" value="Get Enroll">
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md">
            <form asp-action="CoursesCart" method="post">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap" style=" height:7em" ;>
                    <div class="card-body">
                        <h5 class="card-title text-success">Bootstrap</h5>
                        <input type="hidden" asp-for="Id" value=1205 />
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <input type="submit" class="btn btn-primary" value="Get Enroll">
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md">
            <form asp-action="CoursesCart" method="post">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap" style=" height:7em" ;>
                    <div class="card-body">
                        <h5 class="card-title text-success">Python</h5>
                        <input type="hidden" asp-for="Id" value=1315 />
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <input type="submit" class="btn btn-primary" value="Get Enroll">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md">
            <form asp-action="CoursesCart" method="post">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap" style=" height:7em" ;>
                    <div class="card-body">
                        <h5 class="card-title text-success">Html/Css</h5>
                        <input type="hidden" asp-for="Id" value=1418 />
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <input type="submit" class="btn btn-primary" value="Get Enroll">
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md">
            <form asp-action="CoursesCart" method="post">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap" style=" height:7em" ;>
                    <div class="card-body">
                        <h5 class="card-title text-success">React</h5>
                        <input type="hidden" asp-for="Id" value=1625 />
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <input type="submit" class="btn btn-primary" value="Get Enroll">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md">
            <form asp-action="CoursesCart" method="post">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap" style=" height:7em" ;>
                    <div class="card-body">
                        <h5 class="card-title text-success">Angular</h5>
                        <input type="hidden" asp-for="Id" value=17058 />
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <input type="submit" class="btn btn-primary" value="Get Enroll">
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>


