<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/datatables.css" />

    <link href="~/lib/DataTables/Buttons-2.1.1/css/buttons.bulma.min.css" rel="stylesheet" />
    <link href="~/lib/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/vendors_css.css">

    <link rel="stylesheet" href="~/css/horizontal-menu.css">

    <link rel="stylesheet" href="~/css/skin_color.css">
    <link rel="stylesheet" href="~/css/style.css">

    @*==============Gallery Links ===================*@

    <link rel="stylesheet" href="~/lib/Gallery/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/Gallery/css/font-awesome.css">
    <link rel="stylesheet" href="~/lib/Gallery/css/animate.css">
    <link rel="stylesheet" href="~/lib/Gallery/css/templatemo-misc.css">
    <link rel="stylesheet" href="~/lib/Gallery/css/templatemo-style.css">
    <script src="~/lib/Gallery/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    @*--------------------------------------------*@

    @*---Login-------*@
    <link rel="icon" type="image/png" href="~/lib/Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--=========================================~/lib/Login/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--=========================================~/lib/Login/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/Login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--=========================================~/lib/Login/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/Login/vendor/animate/animate.css">
    <!--=========================================~/lib/Login/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--=========================================~/lib/Login/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/Login/vendor/animsition/css/animsition.min.css">
    <!--=========================================~/lib/Login/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/Login/vendor/select2/select2.min.css">
    <!--=========================================~/lib/Login/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/Login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link href="~/lib/Login/css/main.css" rel="stylesheet" />
    <link href="~/lib/Login/css/util.css" rel="stylesheet" />
    @*--------------------------------*@




    
<style>
   
</style>

</head>
<body class="img">
    <div class="container-xxl img" id="issue">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

    @*Vendor JS*@
    <script src="~/js/vendors.min.js"></script>
    <script src="~/js/pages/chat-popup.js"></script>
    <script src="~/assets/icons/feather-icons/feather.min.js"></script>
    <script src="~/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>

    @*Maximum Admin App*@
    <script src="~/js/jquery.smartmenus.js"></script>
    <script src="~/js/menus.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/pages/dashboard.js"></script>

    @*Br----------------------Br*@
    <script type="text/javascript" src="~/lib/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="~/lib/DataTables/Responsive-2.2.9/js/dataTables.responsive.js"></script>
    <script src="~/lib/DataTables/Buttons-2.1.1/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/DataTables/Buttons-2.1.1/js/buttons.colVis.min.js"></script>
    <script src="~/lib/DataTables/Buttons-2.1.1/js/buttons.print.min.js"></script>
    <script src="~/lib/DataTables/Buttons-2.1.1/js/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/DataTables/Buttons-2.1.1/js/buttons.html5.min.js"></script>
    <script src="~/lib/DataTables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script src="~/lib/DataTables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script src="~/lib/DataTables/JSZip-2.5.0/jszip.min.js"></script>


    @*<script src="js/vendor/jquery-1.11.0.min.js"></script>*@
        @*Gallery*@
    
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="~/lib/Gallery/js/plugins.js"></script>
    <script src="~/lib/Gallery/js/main.js"></script>

    <!-- Preloader -->
    <script type="text/javascript">
        //<![CDATA[
        $(window).load(function () { // makes sure the whole site is loaded
            $('.loader-item').fadeOut(); // will first fade out the loading animation
            $('#pageloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
            $('body').delay(350).css({ 'overflow-y': 'visible' });
        })
        //]]>
    </script>


    <script>

        $(document).ready(function () {
            var table = $('#myTable').DataTable({
                responsive: true,
                lengthChange: false,
                buttons: ['excel', 'pdf', 'print', { extend: 'colvis', className: 'btn btn-primary' }]
            });

            table.buttons().container()
                .appendTo('#myTable_wrapper .col-md-6:eq(0)');
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
