@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SymphonyInstitute.Ltd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/datatables.css"/>
    <link href="~/lib/DataTables/Buttons-2.1.1/css/buttons.bulma.min.css" rel="stylesheet" />
    <link href="~/lib/assets/css/style.css" rel="stylesheet" />
    
    @*Additional CSS Files*@

    <link href="~/lib/assets/css/style.css" rel="stylesheet" />

</head>
<body>

    @if (_signInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
    {

        Layout = "_LayoutAdmin";

    }

    else if (_signInManager.IsSignedIn(User))
    {

        Layout = "_LayoutUser";

    }
   
    else
    {

        Layout = "_LayoutLandingPage";

    }


    <div class="container-xxl p-0 m-0">
        
            @RenderBody()
        
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>




    @RenderSection("Scripts", required: false)

</body>



</html>
