@model SymphonyInstitute.Ltd.Models.Login

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLinks.cshtml";

}
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <div class="logo">
                        <img src="~/lib/Logo/svg/Color logo - no background.svg" alt="Alternate Text" height="80" width="150" />
                    </div>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                        <li><a href="meetings.html">Meetings</a></li>
                        <li class="scroll-to-section"><a href="#apply">Apply Now</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="meetings.html">Upcoming Meetings</a></li>
                                <li><a href="meeting-details.html">Meeting Details</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#courses">Courses</a></li>

                        <li class=""><a asp-controller="Accounts" asp-action="Login">Login</a></li>

                        <li class=""><a asp-controller="Accounts" asp-action="StudentSignup">SignUp</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>



<div class="container-fluid p-5  mt-60" style="width:100vw;">

    <div class="wrap-login100 m-auto">
        <form asp-action="Login" method="post" class="login100-form validate-form">
            <span class="login100-form-title p-b-26">
                Welcome
            </span>
            <span class="login100-form-title p-b-48">
                <i class="zmdi zmdi-font"></i>
            </span>

            <div class="wrap-input100 validate-input">
                <label asp-for="UserName" class="control-label"></label>
                <input class="input100" asp-for="UserName" type="email">
            </div>

            <div class="wrap-input100 validate-input" data-validate="Enter password">
                <label asp-for="Password" class="control-label"></label>
                <input class="input100" type="password" asp-for="Password">
            </div>

            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn" types="submit">
                        Login
                    </button>
                </div>
            </div>

            <div class="text-center p-t-115">
                <span class="txt1">
                    Don’t have an account?
                </span>

                <a class="txt2" href="#">
                    Sign Up
                </a>
            </div>
        </form>
    </div>

</div>

