@model SymphonyInstitute.Ltd.Models.Student




<div class="container text-center">
    <h3 class="text-success">
        @ViewBag.ErrorTitle

    </h3>
    <h6 class="text-danger">  @ViewBag.ErrorMessage</h6>

</div>
